<!doctype html>
<html lang="en">
    <head>
      <title>Running my first AI Demo</title>
    </head>
    <body>
        <div class="site-wrapper">
            <div class="cover-container">
                <nav id="main">
                    <a href="http://localhost:5000" >HOME</a>
                </nav>
              <div class="inner cover">
              </div>
              <div class="mastfoot">
              <hr />
                <div class="container">
                  <div style="margin-top:5%">
                                <h1 style="color:black">Text Prediction</h1>
                                <h4 style="color:black">Enter text</h4>
                                <form method="POST">
                                    <input name="user_text">
                                    <input type="submit">
                                </form>
                  </div>
                </div>
            </div>
         </div>
       </div>
    </body>
</html>

